.slick-slide {
    transition: all 0.3s ease;
  }
  
  .slick-slide.slick-center {
    transform: scale(1.2); /* Change the scale as needed */
    z-index: 2;
    
   
  
  }
  
  .slick-slide.slick-left {
    transform: scale(1);
    z-index: 1;
   
    
  }
  .slick-slide.slick-right {
    transform: scale(1);
    z-index: 1;
    
  
  }

  .carousel-container {
    margin: 0 auto;
    width: 80%;
  }
  
  .custom-prev-arrow,
  .custom-next-arrow {
    cursor: pointer;
    /* Add your arrow styling */
  }